extends layout

block content

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/chat.js") 
  h1= title
  p Welcome to #{title}
  include plain.html

  form(id="chatForm")
    input(type="text", id="chatInput")
    input(type="button", onclick="sendChat()", id="sendBtn", value="Send")
  
  div(id="chatDisplay")

